@import './base.css';

/* Fonts */
@import './fonts/montserrat/montserrat.css';
@import './fonts/raleway/stylesheet.css';

#app {
    font-weight: normal;
    max-width: 100vw;
}

*{
    cursor: default;
}
